.resultimg {
    max-width: 350px;
}

#homeSurv {
    color:#f2f2f2;
    background-color: #981b34;
    border-color: #981b34;
}

.pageFooter {
    overflow-wrap: break-word;
}

.home-cont {
    background-color: #989898;
    text-align: center;
}

body {
    background-color: #981b34;
}

.links {
    padding-right: 70%;
}

.repo {
    padding-right: 44%;
    color: #f2f2f2;
}

.text-colors {
    color: #f2f2f2;
}

#icon {
    color: #981b34;
}

#logo {
    margin-top: 50%;
}

.headline {
    text-align: center;
}

#submitButton {
    background-color: #981b34;
    color: #989898;
    border: #981b34;
}

.page-container {
    background-color: #989898;
}
